.main-row{
    width:100%;
    height: 60px;
    background-color: black;
    color: white;
    align-self: center;
}

.column{
    height:60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logos-container{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}

.logos{
    margin-right: 10px;
}

.logos:hover{
    color:yellow;
    cursor: pointer;  
}

.labels{
    color:white !important;
    border-bottom: white;
}

li.nav-item {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    white-space: nowrap;

    display: inline-block;
    padding: 10px 20px;
    position: relative;
  }

li.nav-item:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a{
    text-decoration: none;
}

li.nav-item:hover:after { 
    width: 100%; 
    left: 0; 
}

.toggler-button{
    color:white;
}

.menu{
    z-index: 3;
    background-color: black;
}