.main-container{
    border-top:2px solid white;
    width:100%;
}

@keyframes animate-carousel-title {
    0% {
      transform: translate(0, -2em);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }