<div class="main-container">
    <div class="d-flex">
        <div class="col-6">
            <div class="topic-wrapper">
                <span class="delivery-text">Бесплатная доставка</span>
            </div>

        </div>

        <div class="topic-wrapper">
            <span class="delivery-desc">На все заказы в пределах РБ от 100 BYN</span>
        </div>
        <div class="topic-wrapper">
            <button class="to-shop-button">
                В МАГАЗИН
            </button>
            
        </div>
    </div>