<div class="main-container">
    <div class="first">

    </div>
    <div class="second">
        <div class="mailing">
            <span class="title">
                НОВОСТНАЯ РАССЫЛКА
            </span>
        </div>
        <div class="message-wrapper">
            <span class="message">
                Подпишись на наши новости<br>
            </span>
        </div>
        <div class="message-wrapper">
            <span class="message">
                Узнай первым обо всех новинках и акциях
            </span>
        </div>
        <div class="mail-input">
            <input type="text" id="fname" name="firstname" placeholder="Электронный адрес">
            <a class="link" href="#">Подписаться
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                    <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                  </svg>
            </a>
        </div>
    </div>
    <div class="third">

    </div>
</div>