<div class="top-row">
  <top-row></top-row>
</div>
<div class="header-row">
  <header-row></header-row>
</div>
<div class="slider-container">
  <slider-container></slider-container>
</div>
<div class="middle-row">
  <middle-row></middle-row>
</div>
<!-- <div class="panel-container">
  <panel-container></panel-container>
</div> -->
  <div class="bottom-row ">
    <bottom-row></bottom-row>
  </div>
  <div class="new-collection">
    <new-collection></new-collection>
  </div>
<div class="items-container"></div>
<div class="news-mailing">
  <news-mailing></news-mailing>
</div>
<div class="new-income">
  <new-income></new-income>
</div>
<div class="income-container">
  <income-container></income-container>
</div>
<div class="news-topic">
  <new-topic></new-topic>
</div>
<div class="news-container">
  <news-container></news-container>
</div>
<div class="devilery-row">
  <delivery-row></delivery-row>
</div>
<div class="footer">
  <footer></footer>
</div>