<div class="main-container">
    <div class="d-flex">
        <div class="col-border-right">
            <div class="wrapper">
                <h4 class="nav-col">Навигация</h4>
                <ul class="nav-list">
                    <li class="nav-list-item">Главная</li>
                    <li class="nav-list-item">Магазин</li>
                    <li class="nav-list-item">О компании</li>
                    <li class="nav-list-item">Наш блог</li>
                    <li class="nav-list-item">Контакты</li>
                    <li class="nav-list-item">Доставка и оплата</li>
                    <li class="nav-list-item">Политика конфиденциальности</li>
                </ul>
            </div>
        </div>
        <div class="col-border-right">
            <div class="wrapper">
                <h4 class="nav-col">Наши товары</h4>
                <ul class="nav-list">
                    <li class="nav-list-item">Украшения для ушей</li>
                    <li class="nav-list-item">Украшения в пупок</li>
                    <li class="nav-list-item">Украшения для носа</li>
                    <li class="nav-list-item">Украшения для сосков</li>
                    <li class="nav-list-item">Украшения в язык</li>
                    <li class="nav-list-item">Накрутки для микродермалов</li>
                    <li class="nav-list-item">Кольца для пирсинга</li>
                    <li class="nav-list-item">Иглы</li>
                </ul>
            </div>
        </div>
        <div class="">
            <div class="wrapper">
                <h4 class="nav-col">Новостная рассылка</h4>
                <span class="nav-list-item">
                    Подпишись на наши новости и будь в курсе наших новостей и акций
                </span>
                <div class="mail-input">
                    <input type="text" id="fname" name="firstname" placeholder="Электронный адрес">
                    <a class="link" href="#">Подписаться
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                            <path fill-rule="evenodd"
                                d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>
                </div>
                <h4 class="nav-col">Наши контакты</h4>
                <ul class="nav-list">
                    <li class="nav-list-item">Пункт самовывоза: Минск, пр. Пушкина, 00, пом.00</li>
                    <li class="nav-list-item">Телефон: +375 29 736 95 31</li>
                    <li class="nav-list-item">E-mail: sobaka@mail.ru</li>
                    <li class="nav-list-item">Режим работы: будние дни с 10 до 19, выходные с 11 до 18</li>
                </ul>
            </div>
        </div>
        <div class="col-border-right">

        </div>
    </div>
    <div class="w-100">
        <div class="footer-col">
            2021 © SOBAKA.com | Разработка и продвижение сайтов DRON Group
        </div>
    </div>
</div>